<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>egg后台管理系统</title>
</head>
<body>
<!--The content below is only a placeholder and can be replaced.-->

<link rel="stylesheet" href="/public/admin/bootstrap/css/bootstrap.css">

<link rel="stylesheet" href="/public/admin/css/basic.css">

<script type="text/javascript" src="/public/admin/bootstrap/js/jquery-1.10.1.js"></script>

<script type="text/javascript" src="/public/admin/js/base.js"></script>




<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">

            <img src="/public/admin/images/node.jpg" height="44px;" />

        </div>
    </div>
</nav>

 <meta http-equiv="refresh" content="2;url=<%=redirectUrl%>"> 

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
          
            <div class="alert alert-success">
            	
            	<h2><%=text%>!</h2>
            	
            	<br />
            		
            	<p>如果您不做出选择，将在 2秒后返回上一页。</p>
            
            
            </div>

        </div>
    </div>
</div>

</body>
</html>